.masonryGallery {
  padding: 15px;
}

.imageWrapper {
  all: unset;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform .3s ease;
  position: relative;
  cursor: pointer;
}

.imageWrapper:hover {
  transform: scale(1.05);
  z-index: 1;
}

.image>* {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--secondary-color-transparent, #111111bb);
  color: var(--secondary-text-color, #eee);
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}

.size {
  display: block;
  text-align: end;
}

.imageWrapper:hover .description {
  opacity: 1;
  visibility: visible;
}

/* Estilos de la imagen en grande */
.dialog {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity .3s ease, transform .3s ease;
  pointer-events: none;
  z-index: 10;
}

.dialog[open] {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.fullImageWrapper {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullImage>* {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
}